@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.ProjectItem {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  justify-content: center;
}
.ProjectItem .project_container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 60px;
}
.ProjectItem .project_container .project_title {
  display: flex;
  align-items: end;
  margin-bottom: 10px;
}
.ProjectItem .project_container .project_title h1 {
  font-size: 24px;
}
.ProjectItem .project_container .project_title .team {
  font-size: 16px;
  margin: 0 5px;
}
.ProjectItem .project_container .project_left {
  display: flex;
  flex-direction: column;
}
.ProjectItem .project_container .project_left .project_img {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 5px;
}
.ProjectItem .project_container .project_left .project_img img {
  width: inherit;
}
.ProjectItem .project_container .project_left .project_des {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  line-height: 23px;
  background-color: #f8f8f8;
}
.ProjectItem .project_container .project_left .buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 5px 5px 10px 5px #797979;
  border-radius: 5px 5px 0 0;
}
.ProjectItem .project_container .project_left .buttons .button {
  width: 50%;
  border: none;
  background-color: #797979;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}
.ProjectItem .project_container .project_right {
  display: flex;
  flex-direction: column;
}
.ProjectItem .project_container .project_right .project_date, .ProjectItem .project_container .project_right .project_skill, .ProjectItem .project_container .project_right .project_func {
  margin: 10px 0;
}
.ProjectItem .project_container .project_right .des_title {
  clear: both;
  float: left;
  background-color: #eee;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}
.ProjectItem .project_container .project_right .des_content {
  clear: both;
  float: left;
  background-color: #f8f8f8;
  padding: 8px;
  border-radius: 5px;
  line-height: 140%;
}

@media all and (min-width: 1024px) {
  .ProjectItem {
    align-items: center;
    height: calc(100% - 65px);
  }
  .ProjectItem .project_container {
    width: 1280px;
    margin-bottom: 20px;
    border: 1px solid #00a4c8;
    padding: 50px 80px;
    border-radius: 10px;
  }
  .ProjectItem .project_container .project_title h1 {
    font-size: 40px;
  }
  .ProjectItem .project_container .project_title .team {
    font-size: 24px;
    margin: 0 10px;
  }
  .ProjectItem .project_container .project_content {
    width: 100%;
    display: flex;
    gap: 40px;
    margin: 0;
  }
  .ProjectItem .project_container .project_content .project_left {
    width: 50%;
  }
  .ProjectItem .project_container .project_content .project_left .project_img {
    order: 2;
  }
  .ProjectItem .project_container .project_content .project_left .project_des {
    order: 1;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 18px;
  }
  .ProjectItem .project_container .project_content .project_left .buttons {
    order: 3;
    position: static;
    padding: 0;
    box-shadow: none;
  }
  .ProjectItem .project_container .project_content .project_left .buttons .button {
    font-size: 18px;
    padding: 10px 20px;
  }
  .ProjectItem .project_container .project_content .project_right {
    width: 50%;
  }
  .ProjectItem .project_container .project_content .project_right .project_date, .ProjectItem .project_container .project_content .project_right .project_skill, .ProjectItem .project_container .project_content .project_right .project_func {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .ProjectItem .project_container .project_content .project_right .des_title {
    padding: 8px 15px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .ProjectItem .project_container .project_content .project_right .des_content {
    display: inline-block;
    padding: 8px 15px;
    font-size: 18px;
  }
}/*# sourceMappingURL=ProjectItem.css.map */