@import "../scss/variables.scss";

.navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid $color_gray;
  z-index: 9999;
  transition: background-color 0.5s ease;
  background-color: $color_white;

  &.show {
    border-bottom: none;
    .name,
    .gnb ul li a,
    .gnb ul li svg path {
      color: $color_main;
    }
  }
  .main_nav {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .name {
      color: $color_main;
      font-size: 24px;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      padding: 10px 20px;
    }
    .subMenu {
      .menuList {
        padding: 15px 20px 12px 0;
        text-align: right;
      }
      .gnb {
        width: 100%;
        height: 100%;
        background-color: $color_lightgray;

        ul {
          height: 100vh;
          display: flex;
          flex-direction: column;
          background-color: $color_lightgray;

          border-left: 1px solid $color_gray;
          .menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-family: $font_eng;
            font-size: 16px;
            cursor: pointer;
            font-weight: 500;
            padding: 15px 70px;

            border-bottom: 1px solid $color_gray;
            svg {
              font-size: 24px;
            }
          }
        }
        &.hide {
          display: none;
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .navigation {
    .main_nav {
      max-width: 1280px;
      align-items: center;
      padding: 0 20px;
      .name {
        padding: 0;
        font-size: 28px;
      }
      .subMenu {
        .menuList {
          display: none;
        }
        .gnb {
          height: 30px;
          background-color: transparent;
          ul {
            height: 100%;
            flex-direction: row;
            background-color: transparent;
            .menu {
              font-size: 20px;
              padding: 5px 15px 0;
              border-bottom: none;
              &.active {
                display: inline-block;
                position: relative;
                &::after {
                  content: "";
                  width: 75%;
                  height: 10px;
                  display: inline-block;
                  background: rgba(0, 164, 200, 0.5);
                  position: absolute;
                  bottom: 3px;
                  left: 10px;
                  z-index: -1;
                }
              }
              &:last-child {
                padding-right: 0;
              }
            }
          }
          &.hide {
            display: flex;
          }
        }
      }
    }
  }
}
