@import "../scss/variables.scss";

.navigation_mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid $color_gray;
  z-index: 9999;
  padding: 10px 20px;
  transition: background-color 0.5s ease;
  background-color: $color_white;
  &.show {
    // border-bottom: none;
    .name,
    .gnb ul li a,
    .gnb ul li svg path {
      color: $color_main;
    }
  }
  .main_nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .name {
      display: flex;
      color: $color_main;
      padding: 2px 5px;
      font-size: 24px;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
    }
    .menuList {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .gnb {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: $font_eng;
    background-color: rgba(50, 50, 50, 0.5);
    margin-top: 10px;
    cursor: pointer;
    ul {
      width: 200px;
      height: 100vh;
      background-color: $color_lightgray;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .menu {
        width: 100%;
        font-family: $font_eng;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        font-weight: 500;
        padding: 15px 0;
        border-bottom: 1px solid $color_gray;
        cursor: pointer;
        &:hover {
          font-weight: 500;
        }
        &:last-child {
          padding-right: 0;
        }
        svg {
          font-size: 24px;
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .navigation_pc {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid $color_gray;
    background-color: $color_white;
    z-index: 9999;
    padding: 10px 5%;
    transition: background-color 0.5s ease;
    &.show {
      // border-bottom: none;
      .name,
      .gnb ul li a,
      .gnb ul li svg path {
        color: $color_main;
      }
    }
    .name {
      width: 20%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      color: $color_main;
      font-size: 28px;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
    .gnb {
      width: 80%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      font-family: $font_eng;
      font-weight: bold;

      ul {
        display: flex;

        .menu {
          padding-right: 30px;
          font-family: $font_eng;
          font-size: 20px;
          cursor: pointer;
          display: flex;
          justify-content: space-around;
          font-weight: 500;
          align-items: center;

          &:hover {
            text-underline-offset: 5px;
            font-weight: 500;
          }
          &:last-child {
            padding-right: 0;
          }
          svg {
            font-size: 24px;
          }
          &.active {
            display: inline-block;
            position: relative;
            &::after {
              content: "";
              width: 75%;
              height: 10px;
              display: inline-block;
              background: rgba(0, 164, 200, 0.5);
              position: absolute;
              bottom: 5px;
              left: -5px;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}
