@import "assets/scss/variables.scss";

.projectList {
  @include main();
  padding: 40px 0 0 0;
  .projectList_container {
    @include container_mobile();
    width: 100vw;

    .title {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      h1 {
        @include title_mobile();
      }
      p {
        font-size: 14px;
        color: $color_darkgray;
      }
    }
    .projects {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
}

@media all and (min-width: 1024px) {
  .projectList {
    .projectList_container {
      @include container_pc();
      padding-top: 30px;
      .title {
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
        h1 {
          @include title_pc;
        }
        p {
          font-size: 16px;
        }
      }
      .projects {
        grid-template-columns: repeat(3, 1fr);
        border: 1px dashed $color_main;
        gap: 45px;
        padding: 25px;
        border-radius: 10px;
        margin-bottom: 30px;
      }
    }
  }
}
