@import "../scss/variables.scss";
.projectItem {
  @include main();
  .project_container {
    @include container_mobile();
    .title {
      display: flex;
      align-items: center;
      h1 {
        @include title_mobile();
      }
      .team {
        font-size: 16px;
        margin: 0 5px;
        margin-bottom: 5px;
      }
    }
    .item_box {
      display: flex;
      flex-direction: column;
      .project {
        &_left {
          display: flex;
          flex-direction: column;
          .project_img {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.26%;
            margin-bottom: 10px;
            overflow: hidden;
            border: 1px solid $color_gray;
            border-radius: 5px;
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
          .project_des {
            width: 100%;
            height: auto;
            padding: 10px;
            border-radius: 5px;
            line-height: 23px;
            background-color: $color_lightgray;
            font-size: 14px;
          }
          .buttons {
            display: flex;
            gap: 10px;
            width: 100%;
            text-align: center;
            background-color: $color_white;
            margin: 10px 0;
            a {
              width: 100%;
              .button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                border: none;
                background-color: $color_main;
                padding: 10px 20px;
                border-radius: 5px;
                color: $color_white;
                transition: 0.2s;
                font-family: $font_eng;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                &:hover {
                  background-color: $color_sub;
                }
                svg {
                  margin-right: 5px;
                }
              }
            }
          }
        }
        &_right {
          display: flex;
          flex-direction: column;
          .project {
            &_date,
            &_skill,
            &_func {
              margin: 10px 0;
            }
          }
          .des {
            &_title {
              @include boxTitle_mobile();
              float: left;
            }
            &_content {
              clear: both;
              float: left;
              padding: 8px;
              border-radius: 5px;
              line-height: 150%;
              font-size: 16px;

              ul li {
                margin: 0 5px;
              }
            }
          }
          .project_date .des_content {
            margin-left: 5px;
          }
          .project_skill .des_content ul {
            display: flex;
            flex-wrap: wrap;
            li {
              &::after {
                content: " ,";
              }
              &:last-child {
                &::after {
                  content: "";
                }
              }
            }
          }
          .project_func .des_content li {
            list-style-type: circle;
            margin-left: 30px;
            margin-bottom: 5px;
            line-height: 170%;
            ul li {
              list-style-type: disc;
            }
          }
        }
      }
    }
  }
  .back_project {
    border: none;
    transition: 0.2s;
    padding: 10px;
    margin: 0 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background-color: $color_sub;
      color: $color_white;
    }
  }
}

@media all and (min-width: 1024px) {
  .projectItem {
    .project_container {
      @include container_pc();
      margin: 35px 20px;
      border: 1px dashed $color_main;
      border-radius: 10px;
      padding: 50px 80px;
      .title {
        margin-top: 0;
        h1 {
          font-size: 36px;
        }
        .team {
          font-size: 20px;
          margin: 0 10px;
          margin-bottom: 5px;
        }
      }
      .item_box {
        flex-direction: row;
        gap: 20px;
        .project {
          &_left {
            flex: 3;
            .project_img {
              order: 2;
            }
            .project_des {
              order: 1;
              font-size: 16px;
              margin-bottom: 20px;
              padding: 18px;
            }
            .buttons {
              order: 3;
              position: static;
              padding: 0;
              box-shadow: none;
              .button {
                font-size: 16px;
                padding: 10px 20px;
              }
            }
          }
          &_right {
            flex: 2;
            .project {
              &_date,
              &_skill,
              &_func {
                margin-top: 0;
                margin-bottom: 20px;
              }
            }
            .des {
              &_title {
                @include boxTitle_pc();
              }
              &_content {
                display: inline-block;
                padding: 5px 8px;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  .back_project {
    font-size: 16px;
    padding: 10px 20px;
  }
}
