@mixin main() {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

//mobile
@mixin container_mobile() {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

@mixin title_mobile() {
  font-size: 36px;
  margin-bottom: 8px;
  font-family: $font_eng;
}

@mixin title_desc_mobile() {
  font-size: 12px;
  color: $color_darkgray;
  margin-left: 5px;
}

@mixin boxTitle_mobile() {
  clear: both;
  background-color: $color_gray;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

//pc

@mixin container_pc() {
  max-width: 1280px;
}

@mixin title_pc() {
  font-size: 48px;
}

@mixin title_desc_pc() {
  font-size: 14px;
  margin-left: 10px;
}

@mixin boxTitle_pc() {
  padding: 8px 16px;
  font-size: 18px;
}

@mixin moveToTop() {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 35px;
  cursor: pointer;
  svg {
    fill: $color_main;
    background-color: $color_white;
    border-radius: 50px;
  }
}
