@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

// color
$color_main: #323232;
$color_sub: #545454;
$color_black: #333;
$color_darkgray: #797979;
$color_gray: #eee;
$color_lightgray: #f9f9f9;
$color_white: #fff;
$color_yellow: #fffae1;
$color_green: #f4fdeb;
$color_point: #fe6f0f;
$color_highLight: rgba($color_point, 0.5);

// font
$font_kor: "Noto Sans KR", sans-serif;
$font_eng: "Encode Sans", sans-serif;
