.project_section {
  display: grid;
  grid-template-columns: 85px 3fr;
  border-bottom: 1px solid $color_gray;
  line-height: 230%;
  padding: 5px 0;
  &:last-child {
    border-bottom: none;
  }
  .des {
    &_title {
      display: flex;
      align-items: flex-start;
      font-size: 14px;
      padding: 0 5px;
      &::after {
        content: "|";
        margin-left: 10px;
        color: $color_point;
      }
    }
    &_content {
      display: flex;
      border-radius: 5px;
      font-size: 14px;
    }
  }
}

@media all and (min-width: 1024px) {
  .project_section {
    grid-template-columns: 100px 3fr;
    .des {
      &_title {
        font-size: 16px;
      }
      &_content {
        font-size: 16px;
      }
    }
  }
}
