.project_section {
  margin-bottom: 10px;
  .des {
    &_title {
      @include boxTitle_mobile();
      float: left;
    }
    &_content {
      width: 100%;
      clear: both;
      float: left;
      padding: 8px;
      border-radius: 5px;
      line-height: 150%;
      font-size: 16px;
      line-height: 200%;

      .skillList {
        display: flex;
        flex-wrap: wrap;
        li {
          list-style-type: none;
          margin-right: 8px;
          &::after {
            content: " ,";
          }
          &:last-child {
            &::after {
              content: "";
            }
          }
        }
      }
      .funcList,
      .dev_funcList {
        margin: 0 5px 5px 20px;
        li {
          list-style-type: circle;
        }
      }
      .link {
        color: $color_point;
        transition: 1s;
        &:hover {
          text-decoration: underline;
        }
        &::after {
          content: "☞";
          margin-left: 5px;
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .project_section {
    .des {
      &_title {
        @include boxTitle_pc();
      }
      &_content {
        display: inline-block;
        padding: 5px 8px;
        font-size: 16px;
      }
    }
  }
}
