.project_section {
  margin-bottom: 10px;
  .des {
    &_title {
      @include boxTitle_mobile();
      float: left;
      border-radius: 0;
      border-left: 3px solid $color_point;
      background-color: $color_lightgray;
      font-size: 14px;
    }
    &_content {
      width: 100%;
      clear: both;
      float: left;
      padding: 8px;
      border-radius: 5px;
      line-height: 150%;
      font-size: 14px;
      line-height: 230%;
      b {
        margin-left: 5px;
      }
      .skillList {
        display: flex;
        flex-wrap: wrap;
        li {
          list-style-type: none;
          margin-right: 8px;
          &::after {
            content: " ,";
          }
          &:last-child {
            &::after {
              content: "";
            }
          }
        }
      }
      .funcList,
      .dev_funcList {
        margin: 0 5px 5px 15px;
        li {
          list-style-type: " ⎻  ";
        }
      }
      .link {
        color: $color_black;
        text-decoration: underline;
        &::after {
          content: "↗️";
        }
        &:hover {
          opacity: 0.5;
        }
      }
      .structure {
        width: 100%;
      }
      .componentTitle {
        margin-top: 10px;
      }
      .componentContent {
        margin-left: 20px;
      }
      .portfolio_structure {
        width: 60%;
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .project_section {
    .des {
      &_title {
        @include boxTitle_pc();
        font-size: 16px;
      }
      &_content {
        display: inline-block;
        padding: 5px 8px;
        font-size: 16px;
      }
    }
  }
}
