.navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  border-bottom: 1px solid $color_gray;
  transition: background-color 0.1s ease;
  z-index: 9999;
  &.show {
    border-bottom: none;
    .navigation_bar {
      background-color: $color_yellow;
    }
  }

  .navigation_bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color_white;
    padding: 0 20px;
    .name {
      color: $color_main;
      font-size: 20px;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      cursor: pointer;
    }
    .backBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      background-color: transparent;
      border: none;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .gnb {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    &.hide {
      display: none;
    }
  }

  .gnbList {
    position: inherit;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    height: 100%;
    float: right;
    background-color: $color_lightgray;
    transform: translateX(0%);
    transition: 0.5s;
    .closeBtn {
      display: flex;
      justify-content: flex-end;
      padding: 17px 20px;
      border-bottom: 2px solid $color_gray;
      cursor: pointer;
    }
    .menu {
      width: 100%;
      padding: 15px 0;
      border-bottom: 1px solid $color_gray;
      cursor: pointer;
      svg {
        font-size: 24px;
      }
      &.active {
        display: inline-block;
        position: relative;
        z-index: 0;
        &::after {
          content: "";
          width: 60px;
          height: 10px;
          display: inline-block;
          background: $color_highLight;
          position: absolute;
          bottom: 30%;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
        }
      }
    }
    &.hide {
      transform: translateX(200%);
    }
  }
}

@media all and (min-width: 1024px) {
  .navigation {
    background-color: $color_white;
    &.show {
      background-color: $color_yellow;
    }
    .navigation_bar {
      max-width: 1280px;
      .name {
        font-size: 24px;
      }
      .menuList {
        display: none;
      }
      .backBtn {
        font-size: 16px;
      }
    }
    .gnb {
      display: none;
    }
    .gnbList {
      width: 35%;
      height: 50px;
      top: 0;
      flex-direction: row;
      background-color: transparent;
      align-items: right;
      .closeBtn {
        display: none;
      }
      .menu {
        width: 100px;
        border-bottom: none;
        cursor: pointer;
        font-size: 18px;
        background-color: transparent;
        svg {
          font-size: 24px;
        }
        &.active {
          display: inline-block;
          position: relative;
          z-index: 0;
          &::after {
            content: "";
            width: 70%;
            height: 10px;
            display: inline-block;
            background: $color_highLight;
            position: absolute;
            bottom: 10px;
            left: 15px;
            transform: translateX(0);
            z-index: -1;
          }
        }
      }
      &.hide {
        transform: translateX(0);
      }
    }
  }
}
