.projectItem {
  @include main();
  padding: 40px 0 0 0;
  .project_container {
    @include container_mobile();
    min-height: 100%;
    .title {
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
      h1 {
        font-size: 28px;
      }
      .team {
        font-size: 16px;
        margin: 0 5px;
      }
    }
    .project_des {
      width: 100%;
      height: auto;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      line-height: 23px;
      font-size: 14px;
      background-color: $color_lightgray;
    }
    .item_box {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .project {
        &_left {
          display: flex;
          flex-direction: column;
          .project_img {
            position: relative;
            width: 100%;
            height: 100%;
            padding-bottom: 56.26%;
            overflow: hidden;
            border: 1px solid $color_gray;
            border-radius: 5px;
            img {
              position: absolute;
              // top: 0;
              // left: 0;
              width: inherit;
              height: inherit;
              object-fit: cover;
            }
          }
        }
        &_right {
          display: flex;
          flex-direction: column;
          border-top: 1px dashed $color_gray;
          .buttons {
            display: flex;
            gap: 10px;
            text-align: center;
            a {
              width: 100%;
              .button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                border: 1px solid $color_point;
                background-color: $color_white;
                padding: 10px 20px;
                border-radius: 5px;
                color: $color_point;
                transition: 0.2s;
                font-family: $font_eng;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                svg {
                  margin-right: 5px;
                  fill: $color_point;
                }
                &.url {
                  background-color: $color_point;
                  color: $color_white;
                  svg {
                    fill: $color_white;
                  }
                }
              }
            }
          }
          .memList {
            display: flex;
            li {
              &::after {
                content: "∙";
                margin: 0 3px;
              }
              &:last-child {
                &::after {
                  content: "";
                }
              }
            }
          }
          .skillList {
            display: flex;
            flex-wrap: wrap;
            li {
              list-style-type: none;
              margin-right: 8px;
              &::after {
                content: " ,";
              }
              &:last-child {
                &::after {
                  content: "";
                }
              }
            }
          }
          @at-root .commonList {
            a {
              text-decoration: underline;
              margin: 0 5px;
              transition: 0.5s;
              color: $color_darkgray;
              &::after {
                content: "↗️";
              }
              &:hover {
                color: $color_point;
              }
            }
          }
        }
      }
    }
    .project_bottom {
      margin-top: 50px;
      .dev {
        color: $color_point;
        border-bottom: 1px solid $color_point;
      }
      .funcList {
        margin: 0 5px 5px 7px;

        li {
          list-style-type: decimal;
          font-weight: bold;
          margin-left: 10px;
          h2 {
            font-size: 16px;
          }
          ul li {
            list-style-type: "▫︎ ";
            margin-left: 23px;
            font-weight: normal;
          }
        }
      }
      .link li {
        color: $color_black;
        text-decoration: underline;
        transition: ease 0.2s all;
        &::after {
          content: "↗️";
        }
        &:hover {
          color: $color_point;
          a {
            color: $color_point;
          }
        }
        a {
          transition: ease 0.2s all;
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .projectItem {
    padding: 40px 20px 0 20px;
    .project_container {
      @include container_pc();
      margin: 15px 20px;
      border-radius: 10px;
      padding: 25px 40px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      .title {
        h1 {
          font-size: 28px;
        }
        .team {
          font-size: 18px;
          margin: 0 10px;
        }
      }

      .item_box {
        flex-direction: row;
        gap: 20px;
        .project {
          &_left {
            flex: 1;
            .project_des {
              font-size: 16px;
            }
            .buttons {
              position: static;
              padding: 0;
              box-shadow: none;
              a .button {
                font-size: 16px;
                padding: 10px 20px;
              }
            }
          }
          &_right {
            flex: 1;
            padding-top: 0px;
            border-top: none;
            .project {
              margin-top: 0;
              margin-bottom: 20px;
            }
          }
        }
      }
      .project_bottom {
        margin-top: 30px;
      }
    }
  }
}
