.projectItem {
  @include main();
  padding: 40px 0 0 0;
  .project_container {
    @include container_mobile();
    min-height: 100%;
    .title {
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
      h1 {
        font-size: 28px;
      }
      .team {
        font-size: 16px;
        margin: 0 5px;
      }
    }
    .project_des {
      width: 100%;
      height: auto;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      line-height: 23px;
      background-color: $color_lightgray;
      font-size: 14px;
    }
    .item_box {
      display: flex;
      flex-direction: column;
      .project {
        &_left {
          display: flex;
          flex-direction: column;
          .project_img {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.26%;
            margin-bottom: 10px;
            overflow: hidden;
            border: 1px solid $color_gray;
            border-radius: 5px;

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
          .buttons {
            display: flex;
            gap: 10px;
            width: 100%;
            text-align: center;
            margin: 10px 0;
            a {
              width: 100%;
              .button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                border: 1px solid $color_point;
                background-color: $color_white;
                padding: 10px 20px;
                border-radius: 5px;
                color: $color_point;
                transition: 0.2s;
                font-family: $font_eng;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                svg {
                  margin-right: 5px;
                  fill: $color_point;
                }
                &.url {
                  background-color: $color_point;
                  color: $color_white;
                  svg {
                    fill: $color_white;
                  }
                }
              }
            }
          }
        }
        &_right {
          display: flex;
          flex-direction: column;
          padding-top: 20px;
        }
      }
    }
    .project_bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }
  }
}

@media all and (min-width: 1024px) {
  .projectItem {
    padding: 40px 20px 0 20px;
    .project_container {
      @include container_pc();
      margin: 35px 20px;
      border-radius: 10px;
      padding: 50px 80px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      .title {
        h1 {
          font-size: 36px;
        }
        .team {
          font-size: 20px;
          margin: 0 10px;
          margin-bottom: 5px;
        }
      }
      .project_des {
        font-size: 16px;
        margin-bottom: 20px;
        padding: 18px;
      }
      .item_box {
        flex-direction: row;
        gap: 20px;
        .project {
          &_left {
            flex: 3;
            .buttons {
              position: static;
              padding: 0;
              box-shadow: none;
              a .button {
                font-size: 16px;
                padding: 10px 20px;
              }
            }
          }
          &_right {
            flex: 2;
            padding-top: 0px;
            .project {
              margin-top: 0;
              margin-bottom: 20px;
            }
          }
        }
      }
      .project_bottom {
        margin-top: 20px;
      }
    }
  }
}
