@keyframes infiniteSlide {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes infiniteSlide_clone {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.projectSlide {
  @include main();
  height: 100vh;
  background-color: $color_green;
  .projectSlide_container {
    @include container_mobile();
    width: 100%;
    .title {
      display: flex;
      flex-direction: column;
      .title_box {
        display: flex;
        align-items: center;
        h1 {
          @include title_mobile();
          margin: 0;
        }
        .moveBtn {
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: $color_darkgray;
          color: $color_white;
          border-radius: 5px;
          border: none;
          padding: 5px 10px;
          margin: 0 0 1px 10px;
          transition: 0.2s;
          font-size: 14px;
          cursor: pointer;
          svg {
            fill: $color_white;
          }
          &:hover {
            background-color: $color_point;
            color: $color_white;

            svg {
              fill: $color_white;
            }
          }
        }
      }
      .project_desc {
        color: $color_darkgray;
        font-size: 14px;
      }
    }
    .slide_container {
      overflow: hidden;
      .slide_wrapper {
        display: flex;
        flex-wrap: nowrap;
        padding: 50px 0;
      }
      .slide {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        position: relative;
        &.origin {
          animation: 40s linear infinite normal none running infiniteSlide;
        }
        &.clone {
          animation: 40s linear infinite infiniteSlide_clone;
        }
        &.stop {
          animation-play-state: paused;
        }
        .item_list {
          .item {
            position: relative;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
            width: 320px;
            height: 180px;
            border-radius: 5px;
            margin: 0 5px;
            overflow: hidden;
            transition: 0.5s;
            cursor: pointer;

            img {
              width: 100%;

              object-fit: cover;
              position: absolute;
              top: 0;
              left: 0;
            }
          }

          .item_name {
            display: flex;
            font-size: 14px;
            color: $color_black;
            z-index: 10;
            margin: 5px 15px 0 15px;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .projectSlide {
    .projectSlide_container {
      @include container_pc();
      .title .title_box h1 {
        @include title_pc();
      }
      .moveBtn {
        padding: 5px 10px;
        margin-left: 10px;
        font-size: 18px;
        cursor: pointer;
        &:hover {
          background-color: $color_sub;
        }
      }
      .project_desc {
        color: $color_darkgray;
        font-size: 16px;
      }

      .slide_container {
        .slide_wrapper {
          .slide li {
            transition: ease 0.5s all;
            &:hover {
              transform: translateY(-10px);
            }
            .item {
              width: 465px;
              height: 255px;
              margin: 0 10px;
            }

            .item_name {
              display: inline-block;
              position: relative;
              padding: 6px 5px 10px 5px;
              line-height: 100%;
              color: $color_main;
              font-size: 16px;
              margin-top: 5px;
              margin-left: 10px;
              &::after {
                content: "";
                width: 0%;
                height: 10px;
                display: inline-block;
                background: $color_highLight;
                position: absolute;
                bottom: 7px;
                left: 0;
                z-index: -1;
                transition: 0.3s all;
              }
            }
          }
          .item_list:hover .item_des .item_name::after {
            width: 100%;
          }
        }
      }
    }
  }
}
