.skill {
  @include main();
  height: 100%;
  .skill_container {
    @include container_mobile();
    .title {
      display: flex;
      align-items: center;
      h1 {
        @include title_mobile();
      }
      .title_desc {
        @include title_desc_mobile();
      }
    }
    .skillBox {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 40px;
      .skillBox_title {
        @include boxTitle_mobile();
        float: left;
        margin-bottom: 10px;
      }
      .skill_items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        .skill_item {
          display: flex;

          align-items: center;
          max-width: 100%;

          flex-wrap: nowrap;

          display: flex;
          gap: 20px;

          background: $color_lightgray;
          padding: 15px;
          font-size: 14px;
          .skill_title {
            font-weight: bold;
            font-weight: 14px;
          }

          .skill_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10%;
            min-width: 30px;
            height: 100%;
            padding: 20px;
            border-radius: 5px;

            transition: 0.8s;
            img {
              width: 100%;
              min-width: 45px;
            }
          }
          .skill_des {
            display: flex;
            flex-direction: column;
            ul li {
              font-size: 14px;
              color: $color_black;
              margin-bottom: 5px;
              &::before {
                content: "-";
                color: $color_black;
                margin-right: 5px;
              }
            }
          }
          .skill_name {
            margin: 5px 0;
            text-align: center;
            font-family: $font_eng;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .skill {
    .skill_container {
      @include container_pc();
      .title {
        h1 {
          @include title_pc();
        }
        .title_desc {
          @include title_desc_pc();
        }
      }
      .skillBox {
        .skillBox_title {
          @include boxTitle_pc();
        }
        .skill_items {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          .skill_item {
            max-width: calc((100% - 10px * 5) / 3);
            position: relative;
            gap: 15px;
            .skill_icon {
              width: 35%;
            }
            .skill_name {
              margin: 10px 0;
              font-size: 18px;
            }
            &:hover .skill_des .des_pc {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              padding: 20px;
            }
          }
        }
      }
    }
  }
}
