.skill {
  @include main();
  height: 100%;
  .skill_container {
    @include container_mobile();
    .title {
      display: flex;
      align-items: center;
      h1 {
        @include title_mobile();
      }
      .title_desc {
        @include title_desc_mobile();
        &::after {
          content: "해당 아이콘 클릭 시 자세한 내용을 볼 수 있습니다.";
          margin-left: 3px;
        }
      }
    }
    .skillBox {
      width: 100%;
      .skillBox_title {
        @include boxTitle_mobile();
        float: left;
        margin-bottom: 10px;
      }
      .skill_items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .skill_item {
          width: 30%;
          max-width: 180px;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: 0.8s;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
          .skill_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-width: 85px;
            height: 100%;
            padding: 20px;
            border-radius: 5px;
            background: $color_lightgray;
            transition: 0.8s;
            img {
              width: 100%;
              min-width: 45px;
            }
          }
          .skill_name {
            margin: 5px 0;
            text-align: center;
            font-family: $font_eng;
            font-weight: 500;
          }
          .des_pc {
            display: none;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .skill {
    .skill_container {
      @include container_pc();
      .title {
        h1 {
          @include title_pc();
        }
        .title_desc {
          @include title_desc_pc();

          &::after {
            content: "해당 아이콘에 마우스를 올리면 자세한 내용을 볼 수 있습니다.";
          }
        }
      }
      .skillBox {
        .skillBox_title {
          @include boxTitle_pc();
        }
        .skill_items {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          .skill_item {
            max-width: calc((100% - 10px * 5) / 6);
            position: relative;
            .skill_icon {
              padding: 40px;
            }
            .skill_des {
              ul li {
                font-size: 13px;
                color: $color_black;
                margin-bottom: 5px;
                &::before {
                  content: "-";
                  color: $color_black;
                  margin-right: 5px;
                }
              }
            }
            .skill_name {
              margin: 10px 0;
              font-size: 18px;
            }
            &:hover .skill_des .des_pc {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              padding: 20px;
            }
          }
        }
      }
    }
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  .des_mobile {
    // width: 80%;
    // border-radius: 5px;
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    background-color: $color_gray;
    // padding: 20px;
  }
}
