.Navigation {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 50px;
  background-color: aquamarine;
  font-family: "Pretendard-Regular";
  .top_nav {
    display: flex;
  }
}
