@import "../src/assets/scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color_black;
  font-family: $font_kor;
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
* li {
  list-style: none;
}
a {
  text-decoration: none;
}
