@import "../scss/variables.scss";

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}

.intro {
  @include topcontainer_mobile();
  background-color: $color_main;
  height: 100vh;
  justify-content: center;
  padding-top: 0;
  .intro_container {
    @include container_mobile();
    justify-content: center;
    align-items: center;
    .hi {
      font-size: 42px;
      font-weight: bold;
      line-height: 130%;
      .front-end {
        display: inline-block;
        color: $color_main;
        background-color: $color_white;
        padding: 6px 10px 10px 10px;
        line-height: 100%;
      }
      .hashtag {
        display: flex;
        flex-wrap: wrap;
        line-height: 100%;
        font-size: 20px;
        span {
          background-color: $color_white;
          border-radius: 150px;
          padding: 3px 10px;
          margin: 5px 5px 5px 0;
          font-size: 14px;
          cursor: pointer;
          color: $color_sub;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .intro_name {
        color: $color_white;
      }
    }
    .scroll_icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 200px;
      .arrow {
        animation: bounce 0.8s infinite;
        &:after {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-left: 0.5rem;
          border-right: 0.1rem solid #333;
          border-bottom: 0.1rem solid #333;
          transform: rotate(45deg);
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .intro {
    @include topcontainer_pc();
    padding-top: 0;
    .intro_container {
      @include container_pc();
      .hi {
        font-size: 130px;
        .front-end {
          padding: 3px 10px 15px 10px;
          line-height: 100%;
        }
        .hashtag {
          font-size: 28px;
          span {
            padding: 7px 17px;
            margin: 5px 10px 5px 0;
            font-size: 20px;
            cursor: pointer;
            color: $color_sub;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
