@import "../scss/variables.scss";

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}

.intro {
  @include topcontainer_mobile();
  // background-color: $color_white;
  height: 100vh;
  justify-content: center;

  .intro_container {
    @include container_mobile();
    justify-content: center;
    align-items: center;

    .hi {
      font-size: 40px;
      font-weight: bold;
      line-height: 130%;
      span {
        color: $color_darkgray;
      }
      .front-end {
        display: inline-block;
        position: relative;
        padding: 6px 5px 10px 5px;
        line-height: 100%;
        color: $color_main;
        &::after {
          content: "";
          width: 0%;
          height: 20px;
          display: inline-block;
          background: rgba(0, 164, 200, 0.5);
          position: absolute;
          bottom: 5px;
          left: 0;
          z-index: -1;
          transition: 1s all;
        }
      }
      .intro_name {
        color: $color_main;
      }
      .isActive.front-end::after {
        content: "";
        width: 100%;
      }
    }
    .scroll_icon {
      // position: absolute;
      // bottom: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin-top: 120px;
      font-size: 14px;
      .arrow {
        animation: bounce 0.8s infinite;
        &:after {
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-left: 0.5rem;
          border-right: 0.1rem solid #333;
          border-bottom: 0.1rem solid #333;
          transform: rotate(45deg);
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .intro {
    @include topcontainer_pc();
    .intro_container {
      @include container_pc();
      .hi {
        font-size: 85px;
        .front-end {
          padding: 3px 10px 15px 10px;
          line-height: 100%;
          &::after {
            content: "";
            height: 50px;
          }
        }
      }
      .scroll_icon {
        font-size: 16px;
        .arrow {
          &:after {
            content: "";
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
