@import "../scss/variables.scss";

.MyInformation {
  @include topcontainer_mobile();
  .MyInformation_container {
    @include container_mobile();
    .About_Title h1 {
      font-size: 28px;
      font-family: $font_eng;
    }
    .about_Me {
      width: 100%;
      display: flex;
      flex-direction: column;
      .me {
        order: 1;
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 24px;
        }
        .me_detail {
          border-left: 3px solid $color_main;
          margin: 10px 0;
          li {
            margin: 5px 0 5px 5px;
          }
        }
      }
      .resolution {
        width: 100%;
        order: 2;
        background-color: $color_gray;
        padding: 8px;
        margin: 5px 0;
        border-radius: 5px;
      }
    }
    .about_content {
      margin: 10px 0;
      .info_title {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;

        background-color: $color_gray;
      }
      .info_list {
        border-left: 3px solid $color_main;
        margin: 10px 0;
        li {
          margin: 5px 0 5px 5px;
          &.date {
            color: $color_darkgray;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .MyInformation {
    @include topcontainer_pc();
    .MyInformation_container {
      @include container_pc();
      .About_Title h1 {
        font-size: 42px;
        font-family: $font_eng;
      }
      .about_Me {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 80px;
        .me {
          order: 2;
          display: flex;
          flex-direction: column;

          h3 {
            font-size: 32px;
            text-align: right;
          }
          .me_detail {
            border-right: 3px solid $color_main;
            border-left: none;

            li {
              text-align: right;
              margin: 5px 5px 5px 0;
              font-size: 18px;
            }
          }
        }
        .resolution {
          order: 1;
          width: 60%;
        }
      }
      .about_content {
        .info_title {
          font-size: 18px;
        }
        .info_list {
          li {
            margin: 8px 0 8px 5px;
            font-size: 18px;
            &.date {
              color: $color_darkgray;
            }
          }
        }
      }
    }
  }
}
