@import "../scss/variables.scss";

.MyInformation {
  @include topcontainer_mobile();
  .MyInformation_container {
    @include container_mobile();
    .About_Title h1 {
      @include title_mobile();
    }
    .about_Me {
      width: 100%;
      display: flex;
      flex-direction: column;
      .me {
        order: 1;
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 24px;
        }
        .me_detail {
          border-left: 3px solid $color_main;
          margin: 10px 0;
          font-size: 16px;
          li {
            margin: 5px 0 5px 5px;
            &.link {
              display: flex;
              gap: 10px;
              font-size: 24px;
              cursor: pointer;
            }
          }
        }
      }
      .resolution {
        width: 100%;
        order: 2;
        background-color: $color_gray;
        padding: 8px;
        margin: 5px 0;
        border-radius: 5px;
        font-size: 16px;
        span {
          display: block;
          width: 100%;
          word-break: break-all;
        }
      }
    }
    .about_content {
      margin: 20px 0;
      .edu {
        margin-bottom: 30px;
      }
      .info_title {
        @include boxtitle_mobile();
        display: inline-block;
      }
      .info_list {
        border-left: 3px solid $color_main;
        margin: 10px 0;
        padding: 0.1px 0;
        li {
          margin: 5px 0 5px 10px;
          font-size: 16px;

          &.date {
            color: $color_darkgray;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .MyInformation {
    @include topcontainer_pc();
    .MyInformation_container {
      @include container_pc();
      .About_Title h1 {
        @include title_pc();
      }
      .about_Me {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 80px;
        .me {
          order: 2;
          display: flex;
          flex-direction: column;

          h3 {
            font-size: 32px;
            text-align: right;
          }
          .me_detail {
            border-right: 3px solid $color_main;
            border-left: none;

            li {
              text-align: right;
              margin: 5px 5px 5px 0;
              font-size: 20px;
              &.link {
                justify-content: right;
              }
            }
          }
        }
        .resolution {
          order: 1;
          width: 60%;
          padding: 20px;
          font-size: 18px;
        }
      }
      .about_content {
        .info_title {
          @include boxtitle_pc();
          font-size: 20px;
        }
        .info_list {
          li {
            margin: 8px 0 8px 10px;
            font-size: 18px;
            &.date {
              color: $color_darkgray;
            }
          }
        }
      }
    }
  }
}
