@import "../scss/variables.scss";

.Navigation {
  display: flex;
  width: 100vw;
  height: 50px;

  background-color: $color_main;
  .title {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: $color_white;
  }
  .leftChild {
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: $color_white;
  }
}
