@import "../scss/variables.scss";

@mixin navbtn {
  border: none;
  background-color: transparent;
  color: $color_white;
  font-size: 14px;
  cursor: pointer;
  font-family: $font_eng;
}

.Navigation_mobile {
  position: relative;
  display: flex;
  width: 100vw;
  height: 50px;
  background-color: $color_main;
  z-index: 9999;
  padding: 0 25px;

  .title {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: $color_white;
    font-family: $font_eng;
  }
  .leftChild {
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
    svg path {
      color: $color_white;
      cursor: pointer;
    }
    button {
      @include navbtn();
    }
  }
  .rightChild {
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    svg path {
      color: $color_white;
      cursor: pointer;
    }
    button {
      @include navbtn();
    }
  }
}

@media all and (min-width: 1024px) {
  .Navigation_pc {
    position: relative;
    display: flex;
    width: 100vw;
    height: 65px;
    background-color: $color_main;
    z-index: 9999;
    padding: 0 5%;
    .name {
      width: 20%;
      display: flex;
      justify-content: start;
      align-items: center;
      color: $color_white;
      font-size: 28px;
      cursor: pointer;
      font-family: "Pacifico", cursive;
    }
    .gnb {
      width: 80%;
      display: flex;
      justify-content: end;
      align-items: center;
      font-family: $font_eng;
      ul {
        display: flex;
        li {
          font-family: $font_eng;
          color: $color_white;
          font-size: 20px;
          cursor: pointer;
          display: flex;
          font-weight: 500;
          align-items: center;
          &:hover {
            color: $color_sub;
            font-weight: 500;
          }
          &:not(:last-child) {
            margin-right: 30px;
          }
          svg {
            font-size: 24px;
            path {
              color: $color_white;
              &:hover {
                color: $color_sub;
              }
            }
          }
        }
      }
    }
  }
}
