@import "../scss/variables.scss";

.Project {
  .close {
    display: flex;
    justify-content: end;
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
    svg path {
      color: $color_black;
    }
  }
}

@media all and (min-width: 1024px) {
}
