@import "../scss/variables.scss";

.ProjectList {
  @include topcontainer_mobile();
  flex-direction: column;
  padding: 20px;
  .ProjectList_container {
    @include container_mobile();
    .ProjectList_Title {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 32px;
        margin-bottom: 8px;
      }
      p {
        font-size: 16px;
        color: $color_darkgray;
        margin-bottom: 10px;
      }
    }
    .Projects {
      display: flex;
      flex-direction: column;
      // border: 1px solid $color_main;
      padding: 10px;
      gap: 20px;
    }
  }
}
