@import "../scss/variables.scss";
.projectThumb {
  width: 100%;
  // box-shadow: 5px 5px 8px 1px $color_gray;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    scale: 1.01;
    box-shadow: 5px 5px 8px 1px $color_gray;
  }
  .project_img {
    width: 100%;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid $color_gray;
    border-radius: 5px;

    img {
      width: 100%;
    }
  }
  .project_desc {
    margin: 20px 0;
    ul {
      .title {
        font-size: 20px;
        font-weight: 600;
      }
      li {
        .skill {
          display: flex;
          margin: 8px 0;
          li {
            border: 1px solid $color_main;
            color: $color_darkgray;
            margin-right: 5px;
            padding: 2px 8px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
