@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

// color
$color_main: #00a4c8;
$color_sub: #153e47;
$color_black: #333;
$color_darkgray: #797979;
$color_gray: #eee;
$color_lightgray: #f8f8f8;
$color_white: #fff;

// font
$font_kor: "Pretendard-Regular", sans-serif;
$font_eng: "Encode Sans", sans-serif;

@mixin topcontainer_mobile() {
  width: 100%;
  // height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
@mixin container_mobile() {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
@mixin topcontainer_pc() {
  align-items: center;
  justify-content: center;
  // min-height: calc(100vh - 220px);
}
@mixin container_pc() {
  width: 1280px;
  margin-bottom: 20px;
  // padding: 50px 80px;
}
