@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

// color
$color_main: #00a4c8;
$color_sub: #153e47;
$color_black: #333;
$color_darkgray: #797979;
$color_gray: #eee;
$color_lightgray: #f8f8f8;
$color_white: #fff;

// font
$font_kor: "Noto Sans KR", sans-serif;
$font_eng: "Encode Sans", sans-serif;

//mobile
@mixin topcontainer_mobile() {
  width: 100%;
  // height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
@mixin container_mobile() {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

@mixin title_mobile() {
  font-size: 30px;
  margin-bottom: 8px;
  font-family: $font_eng;
}

@mixin boxtitle_mobile() {
  clear: both;
  background-color: $color_gray;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

//pc
@mixin topcontainer_pc() {
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 220px);
  padding: 100px 0;
}
@mixin container_pc() {
  width: 1280px;
  margin-bottom: 20px;
  // padding: 50px 80px;
}

@mixin title_pc() {
  font-size: 48px;
}

@mixin boxtitle_pc() {
  padding: 8px 15px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

@mixin moveToTop() {
  display: flex;
  flex-direction: column;
  align-items: center;
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
    svg path {
      color: $color_main;
      background-color: $color_white;
    }
  }
}

@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
